# Copyright (c) 2019, Digital Asset (Switzerland) GmbH and/or its affiliates. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

.daml/
.idea/
.interfaces/
.navigator.conf
.package-database/
.vscode/settings.json
*.iml
*.log
**/.DS_Store
dist/
lib/
logs/
navigator.history
sqlite/
